<div class="d-flex justify-content-between">
  <p mat-dialog-title>{{ data?.title || 'confirmition' }}</p>
  <button class="position-relative bottom-4" mat-icon-button (click)="onNoClick( )">
    <mat-icon>close</mat-icon>
  </button>
</div>
<p mat-dialog-content>{{ data?.description }}</p>
<mat-form-field cdkFocusInitial appearance="fill">
  <input (keyup.enter)="onNoClick()" [(ngModel)]="data.value" required type="text" matInput>
</mat-form-field>
<div mat-dialog-actions align="end" class="mt-4">
  <button cdkFocusInitial mat-flat-button (click)="onNoClick( )">{{ data.confirm }}</button>
</div>
